@import 'simple-grid';
$init-color: #808080;
$inactive-color: #cccccc;
$weekday-color: #f5f5f5;
$info-bubble: #e6e6e6;
$selected: #333333;
.circle {
    border-radius: 50%;
    border: 1px solid transparent;
}

.pill {
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 1px 0px 0px 2px;
}

.mm-button {
    border-radius: 15px;
}

.tab {
    @extend .pill;
    @extend .font-light;
    font-size: small;
    max-width: 100px;
    margin: auto;
    border-color: $init-color;
}

.badge {
    @extend .circle;
    padding: 0px 5px;
    border-color: $init-color;
}

.container {
    max-width: 565px;
}

.header {
    padding-top: 65px
}

.pill-text {
    margin-left: 5%;
}

.today {
    @extend .font-regular;
    margin: 10px 25px;
    display: inline-block;
}

.icon-container {
    position: absolute;
    padding: 3% 0 0 25%;
}

.grid-icon {
    width: 13px;
    background-color: $inactive-color;
}

.week-icon {
    @extend .pill;
    display: inline-block;
    margin: 0 2.5px;
    padding: 1.5px 5px;
    background-color: $inactive-color;
}

.week-grid .col-1 {
    width: 7.112822%
}

.week-grid div {
    @extend .font-regular;
    font-size: small;
}

.arrow {
    max-width: 100%;
    height: 12px;
}

.week-arrow {
    @extend .arrow;
    position: relative;
    top: 5px;
}

.date-bubble {
    @extend .circle;
    background-color: $weekday-color;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.date-bubble>span {
    vertical-align: sub;
}

.inactive-date span {
    color: $inactive-color;
    background-color: transparent;
}

.month-arrow {
    @extend .arrow;
}

.hide {
    visibility: hidden;
}

.date-info {
    @extend .mm-button;
    background-color: $info-bubble;
    display: inline-block;
    width: 25px;
    height: 50px;
    line-height: 45px;
    position: relative;
    bottom: 22px;
    z-index: -1;
}

.date-info>span {
    vertical-align: bottom;
}

.book-container {
    @extend .container;
    width: 75%;
}

.book-row .col-3 {
    width: 16%;
}

.book-slot {
    @extend .mm-button;
    font-size: 0.8em;
    background-color: $weekday-color;
    width: 65px;
    height: 27px;
    line-height: 20px;
}

.selected {
    background: $selected;
}

.selected span {
    @extend .font-light;
    color: $weekday-color;
}

.book-slot>span {
    vertical-align: sub;
}

.yes-no {
    @extend .mm-button;
    background-color: $selected;
    width: 65px;
    height: 27px;
}

.yes-no img {
    max-width: 100%;
    height: 25px;
    margin: 1px 1px 1px 1px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.book-info input {
    @extend .font-light;
    @extend .mm-button;
    border: transparent;
    width: 90%;
    height: 25px;
    background-color: $weekday-color;
    padding-left: 15px;
    font-size: 0.88em;
}

.confirmed {
    @extend .mm-button;
}

.done .btn {
    @extend .mm-button;
    background: $weekday-color;
    line-height: 15px;
}

.done span {
    font-size: 0.75em;
}

//center all items to page size

/*
body {
    display: table;
}

#app {
    display: table-cell;
    vertical-align: middle;
}
*/

.book-row {
    margin: 30px 0px;
}

a {
    text-decoration: none;
}